.button-and-image {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
}
#modaled{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
}
.modal{
display: flex;
flex-direction: column;
height: 100%;
background-color:#0f0e13 ;
color:white

 
}
#pic{
  width:750px;
  height: 500px;
}
@media (max-width:525px) {
  .modal{
    position: relative;
    display: flex;
    justify-content:start;
    width: fit-content;

  }
  #pic{
     width: 80%;
     height: 300px;
   }
   #wrap{
    display:flex;
    text-align:start;
    width: 80%;

   }
}