#head{
    background-color:#261266;
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size:40px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}