html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App{
  background-color:#403075 ;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main {
  display: flex;
}
#navbar {
  width: 100%;
}
#vw20{
  position: sticky;
width: 20vw;
align-self: start;
}
#vw60{
 align-self: center;
 justify-content: center;
width: 60vw;
top:0;
right:0;
}