html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App{
  background-color:#403075 ;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App > * {
flex-basis: 100%;
}

main {
  display: flex;
}
#navbar {
  width: 100%;
}
#vw20{
  position: sticky;
width: 20vw;
align-self: start;
}
#vw60{
  margin: auto;
 align-self: flex-start;
 justify-content: center;
width: 60vw;
top:0;
right:0;
}
#dashed{
  text-align: center;
  font-size:20px;
  color:white;  
}
.bott{
  color:white;
  font-size:30px;
}
@media (max-width:525px){
  .App{
    display: flex;
    flex-direction: column;
    
  }
  #navbar{
    widows: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #vw20{
    position: sticky;
    top: 0;
  }
  #vw60{
    overflow: scroll;
  }
}