 #navbar{

     bottom:40px;
     background-color:#5f5484;
     display: flex;
     flex-direction: column;
     width: 20vw;
     height: 100vh;
 }
 #topQ{
     height: 25%;
     width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #middleQ{
     padding-left: 15px;
     height: 50%;
   font-size:40px;
   display: flex;
   flex-direction: column;
   align-items:center;
   width: 80%;
 }
 #bottomQ{
     height: 25%;
 }

 .headshot {
     height: 200px;
     width: 200px;
 }
 .navbutt{
      background-color: #3d2979;
      color:white;
      box-shadow: 05px 13px 10px 0px rgba(0,0,0,0.75);
      font-weight: bold;
      font-size:15px;

 }
 #ull{
     display: flex;
     flex-direction: column;
     gap:20px;
 }